In [38]:
import xarray as xr

# Charger les fichiers NetCDF
ds_mnth = xr.open_dataset(r"C:\Users\ZEJLI\Projet 5A\bdd_temperature\data_stream-mnth.nc")
ds_moda = xr.open_dataset(r"C:\Users\ZEJLI\Projet 5A\bdd_temperature\data_stream-moda.nc")

In [39]:
import xarray as xr
import pandas as pd

def xarray_to_dataframe_and_print(dataset: xr.Dataset) -> pd.DataFrame:
    """
    Convertit un objet xarray.Dataset en un pandas.DataFrame, 
    l'affiche et le retourne.
    
    Args:
        dataset (xr.Dataset): L'objet xarray.Dataset à convertir.

    Returns:
        pd.DataFrame: Le DataFrame converti.
    """
    # Utiliser .to_dataframe() pour convertir le Dataset en DataFrame.
    # .stack() ou .unstack() peuvent être nécessaires selon la structure 
    # des dimensions que vous souhaitez conserver en tant que colonnes ou index.
    # Par défaut, .to_dataframe() conserve les coordonnées comme index.
    df = dataset.to_dataframe()
    
    """
    print("--- Affichage du DataFrame converti (5 premières lignes) ---")
    print(df.head())
    print("--- Informations sur le DataFrame ---")
    df.info()
    """
    return df

In [40]:
#df_mnth = xarray_to_dataframe_and_print(ds_mnth)

In [41]:
#df_mnth.head(10)
#Pas utilie car dans moda on a toutes les features de mnth

In [42]:
df_moda = xarray_to_dataframe_and_print(ds_moda)

In [43]:
df_moda.head(10)

                               number expver         d2m         t2m  \
valid_time latitude longitude
2000-01-01 45.7     3.1             0   0001  271.616333  273.554565
                    3.2             0   0001  271.880005  273.810425
           45.6     3.1             0   0001  271.444458  273.269409
                    3.2             0   0001  271.725708  273.578003
2000-02-01 45.7     3.1             0   0001  274.203796  277.498047
                    3.2             0   0001  274.522156  277.785156
           45.6     3.1             0   0001  274.053406  277.281250
                    3.2             0   0001  274.387390  277.607422
2000-03-01 45.7     3.1             0   0001  273.845215  278.007782
                    3.2             0   0001  274.214355  278.431610

                                      skt        stl1        stl2        stl3  \
valid_time latitude longitude
2000-01-01 45.7     3.1        271.853302  273.671539  274.227325  276.092865
                    3.2        271.986115  273.894196  274.457794  276.358490
           45.6     3.1        271.544708  273.806305  274.338654  276.161224
                    3.2        271.677521  273.890289  274.436310  276.299896
2000-02-01 45.7     3.1        276.831238  276.675903  276.507935  276.441956
                    3.2        276.979675  276.894653  276.746216  276.701721
           45.6     3.1        276.589050  276.537231  276.437622  276.461487
                    3.2        276.749207  276.707153  276.607544  276.627502
2000-03-01 45.7     3.1        277.795044  278.047028  278.017700  277.864441
                    3.2        278.041138  278.312653  278.273560  278.100769

                                     stl4
valid_time latitude longitude
2000-01-01 45.7     3.1        279.960632
                    3.2        280.278992
           45.6     3.1        279.952820
                    3.2        280.189148
2000-02-01 45.7     3.1        278.000458
                    3.2        278.273895
           45.6     3.1        278.045380
                    3.2        278.215302
2000-03-01 45.7     3.1        277.652161
                    3.2        277.902161

In [44]:
import pandas as pd
import os

def export_dataframe_to_csv(df: pd.DataFrame, filename: str) -> str:
    """
    Crée un fichier CSV à partir d'un DataFrame pandas.

    Args:
        df (pd.DataFrame): Le DataFrame à exporter (par exemple, df_moda).
        filename (str): Le nom du fichier CSV souhaité (doit inclure '.csv').

    Returns:
        str: Le chemin d'accès complet au fichier créé.
    """
    # 1. Définir le chemin complet du fichier dans le répertoire actuel
    chemin_complet = os.path.join(os.getcwd(), filename)
    
    # 2. Vérifier et ajouter l'extension .csv si elle manque
    if not chemin_complet.lower().endswith('.csv'):
        chemin_complet += '.csv'

    # 3. Exporter le DataFrame
    try:
        # index=True pour inclure l'index (vos coordonnées time, lat, lon) dans le CSV
        df.to_csv(chemin_complet, index=True) 
        print(f"✅ Export réussi : {chemin_complet}")
        return chemin_complet
    except Exception as e:
        print(f"❌ Erreur lors de l'exportation CSV : {e}")
        return ""

In [45]:
export_dataframe_to_csv(df_moda, "BDD_Temp_Puy_de_Dome_2000_2007.csv")

✅ Export réussi : c:\Users\ZEJLI\Projet 5A\3rd Month\BDD_Temp_Puy_de_Dome_2000_2007.csv

'c:\\Users\\ZEJLI\\Projet 5A\\3rd Month\\BDD_Temp_Puy_de_Dome_2000_2007.csv'