In [1]:
import pandas as pd
import os
import sys

# D√©finition du nom de fichier que nous avons cr√©√© pr√©c√©demment
NOM_FICHIER_DESIRE = "BDD_Temp_Puy_de_Dome_2000_2007.csv"
chemin_complet = os.path.join(os.getcwd(), NOM_FICHIER_DESIRE)

# --- 1. Importer le fichier CSV ---
try:
    # Lecture du fichier CSV
    # Nous utilisons 'index_col=0' car l'exportation pr√©c√©dente (index=True) 
    # a g√©n√©ralement transform√© l'ancien MultiIndex (time, lat, lon) en premi√®re colonne.
    df_puy_de_dome = pd.read_csv(chemin_complet, index_col=0) 
    print(f"‚úÖ Fichier '{NOM_FICHIER_DESIRE}' import√© avec succ√®s dans 'df_puy_de_dome'.")

except FileNotFoundError:
    print(f"‚ùå Erreur : Le fichier CSV est introuvable √† l'emplacement : {chemin_complet}")
    print("Veuillez vous assurer que le script d'exportation a √©t√© ex√©cut√© correctement.")
    sys.exit(1)
except Exception as e:
    print(f"‚ùå Erreur lors de l'importation du CSV : {e}")
    sys.exit(1)

‚úÖ Fichier 'BDD_Temp_Puy_de_Dome_2000_2007.csv' import√© avec succ√®s dans 'df_puy_de_dome'.

In [2]:
# --- 2. Afficher des informations de base ---

print("\n## üìã Aper√ßu du DataFrame (df_puy_de_dome.head())")
# Afficher les 5 premi√®res lignes
df_puy_de_dome.head()

## üìã Aper√ßu du DataFrame (df_puy_de_dome.head())

,latitude,longitude,number,expver,d2m,t2m,skt,stl1,stl2,stl3,stl4
valid_time,,,,,,,,,,,
2000-01-01,45.7,3.1,0,1,271.61633,273.55457,271.85330,273.67154,274.22733,276.09286,279.96063
2000-01-01,45.7,3.2,0,1,271.88000,273.81042,271.98610,273.89420,274.45780,276.35850,280.27900
2000-01-01,45.6,3.1,0,1,271.44446,273.26940,271.54470,273.80630,274.33865,276.16122,279.95282
2000-01-01,45.6,3.2,0,1,271.72570,273.57800,271.67752,273.89030,274.43630,276.29990,280.18915
2000-02-01,45.7,3.1,0,1,274.20380,277.49805,276.83124,276.67590,276.50793,276.44196,278.00046

In [3]:
print("\n## üìä Forme du DataFrame (df_puy_de_dome.shape)")
# Afficher le nombre de lignes et de colonnes
print(f"Le DataFrame contient {df_puy_de_dome.shape[0]} lignes et {df_puy_de_dome.shape[1]} colonnes.")

## üìä Forme du DataFrame (df_puy_de_dome.shape)
Le DataFrame contient 384 lignes et 11 colonnes.

In [4]:
print("\n## ‚ÑπÔ∏è Informations sur les types de donn√©es (df_puy_de_dome.info())")
# Afficher les types de donn√©es des colonnes et la m√©moire utilis√©e
df_puy_de_dome.info()

## ‚ÑπÔ∏è Informations sur les types de donn√©es (df_puy_de_dome.info())
<class 'pandas.core.frame.DataFrame'>
Index: 384 entries, 2000-01-01 to 2007-12-01
Data columns (total 11 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   latitude   384 non-null    float64
 1   longitude  384 non-null    float64
 2   number     384 non-null    int64
 3   expver     384 non-null    int64
 4   d2m        384 non-null    float64
 5   t2m        384 non-null    float64
 6   skt        384 non-null    float64
 7   stl1       384 non-null    float64
 8   stl2       384 non-null    float64
 9   stl3       384 non-null    float64
 10  stl4       384 non-null    float64
dtypes: float64(9), int64(2)
memory usage: 36.0+ KB

In [5]:
# --- 1. V√©rification des valeurs manquantes (NaN) ---
print("## üïµÔ∏è‚Äç‚ôÄÔ∏è V√©rification des Valeurs Manquantes (NaN)")
valeurs_manquantes = df_puy_de_dome.isnull().sum()
print("Nombre de valeurs manquantes par colonne :")
print(valeurs_manquantes)

## üïµÔ∏è‚Äç‚ôÄÔ∏è V√©rification des Valeurs Manquantes (NaN)
Nombre de valeurs manquantes par colonne :
latitude     0
longitude    0
number       0
expver       0
d2m          0
t2m          0
skt          0
stl1         0
stl2         0
stl3         0
stl4         0
dtype: int64

In [6]:
# --- 2. Statistiques Descriptives ---
print("\n## üìà Statistiques Descriptives (df_puy_de_dome.describe())")
# Fournit la moyenne, l'√©cart-type, les min/max et les quartiles pour les colonnes num√©riques
stats_descriptives = df_puy_de_dome.describe()
stats_descriptives

## üìà Statistiques Descriptives (df_puy_de_dome.describe())

,latitude,longitude,number,expver,d2m,t2m,skt,stl1,stl2,stl3,stl4
count,384.000000,384.000000,384.0,384.0,384.000000,384.000000,384.000000,384.000000,384.000000,384.000000,384.000000
mean,45.650000,3.150000,0.0,1.0,278.807691,282.976257,282.521418,283.080339,283.051332,283.017126,283.006546
std,0.050065,0.050065,0.0,0.0,5.094048,6.244744,6.642087,6.218623,5.876582,4.942846,3.806521
min,45.600000,3.100000,0.0,1.0,268.835420,271.549650,269.970150,273.332520,273.540950,274.773650,276.355500
25%,45.600000,3.100000,0.0,1.0,274.299370,277.496337,276.724225,277.570760,277.832225,278.596950,279.595460
50%,45.650000,3.150000,0.0,1.0,278.969050,282.412225,282.247050,282.813610,283.510040,282.797760,282.834930
75%,45.700000,3.200000,0.0,1.0,283.457302,288.531697,288.416767,288.814512,288.533875,287.431110,286.713410
max,45.700000,3.200000,0.0,1.0,288.905100,296.945130,296.577400,296.784600,296.110380,294.021640,290.701780

In [7]:
# df_puy_de_dome est votre DataFrame actuel
print("Type d'index actuel :", type(df_puy_de_dome.index))

# Si l'index est un MultiIndex, r√©initialisez-le
if isinstance(df_puy_de_dome.index, pd.MultiIndex):
    df_puy_de_dome = df_puy_de_dome.reset_index()
    print("‚úÖ Index r√©initialis√©. Les coordonn√©es sont maintenant des colonnes.")
else:
    # Si l'index est une colonne unique (ex: l'ancienne colonne 'time'), assurez-vous qu'elle est bien nomm√©e
    # Si la colonne d'index est nomm√©e 'Unnamed: 0' (ou autre), renommez-la en 'time'
    if 'Unnamed: 0' in df_puy_de_dome.columns:
        df_puy_de_dome.rename(columns={'Unnamed: 0': 'time'}, inplace=True)

Type d'index actuel : <class 'pandas.core.indexes.base.Index'>

In [8]:
df_puy_de_dome.columns

Index(['latitude', 'longitude', 'number', 'expver', 'd2m', 't2m', 'skt',
       'stl1', 'stl2', 'stl3', 'stl4'],
      dtype='object')

In [9]:
# Les colonnes de votre index correspondent aux variables et coordonn√©es du dataset ERA5-Land.

colonnes_dataset = [
    'latitude', 
    'longitude', 
    'number', 
    'expver', 
    'd2m', 
    't2m', 
    'skt', 
    'stl1', 
    'stl2', 
    'stl3', 
    'stl4'
]

descriptions = {
    # --- Coordonn√©es et M√©tadonn√©es ---
    'latitude': "Latitude (Coordonn√©e g√©ographique) [Unit√©: Degr√©s Nord]",
    'longitude': "Longitude (Coordonn√©e g√©ographique) [Unit√©: Degr√©s Est]",
    'number': "Num√©ro d'ensemble (Identifiant des membres de l'ensemble de pr√©visions/r√©analyses) [Unit√©: Entier]",
    'expver': "Version exp√©rimentale (Indique la version du syst√®me utilis√©) [Unit√©: Cha√Æne de caract√®res]",
    
    # --- Temp√©ratures Atmosph√©riques et de Surface (Unit√© de base: Kelvin (K)) ---
    'd2m': "2m dewpoint temperature (Temp√©rature du point de ros√©e √† 2 m√®tres) [Unit√©: Kelvin (K)]",
    't2m': "2m temperature (Temp√©rature de l'air √† 2 m√®tres) [Unit√©: Kelvin (K)]",
    'skt': "Skin temperature (Temp√©rature de la couche de surface/peau du sol) [Unit√©: Kelvin (K)]",
    
    # --- Temp√©ratures du Sol par Niveau (Unit√© de base: Kelvin (K)) ---
    'stl1': "Soil temperature level 1 (Temp√©rature du sol √† la premi√®re couche - Surface) [Profondeur: ~0-7 cm] [Unit√©: Kelvin (K)]",
    'stl2': "Soil temperature level 2 (Temp√©rature du sol √† la deuxi√®me couche) [Profondeur: ~7-28 cm] [Unit√©: Kelvin (K)]",
    'stl3': "Soil temperature level 3 (Temp√©rature du sol √† la troisi√®me couche) [Profondeur: ~28-100 cm] [Unit√©: Kelvin (K)]",
    'stl4': "Soil temperature level 4 (Temp√©rature du sol √† la quatri√®me couche - Profondeur) [Profondeur: ~100-289 cm] [Unit√©: Kelvin (K)]"
}

print("--- Explications des Colonnes ERA5-Land ---")
for col in colonnes_dataset:
    print(f"'{col}': {descriptions.get(col, 'Description non trouv√©e.')}")

# Note: Pour toutes les variables de temp√©rature (d2m, t2m, skt, stlX), la conversion en Celsius (C) est n√©cessaire: C = K - 273.15

--- Explications des Colonnes ERA5-Land ---
'latitude': Latitude (Coordonn√©e g√©ographique) [Unit√©: Degr√©s Nord]
'longitude': Longitude (Coordonn√©e g√©ographique) [Unit√©: Degr√©s Est]
'number': Num√©ro d'ensemble (Identifiant des membres de l'ensemble de pr√©visions/r√©analyses) [Unit√©: Entier]
'expver': Version exp√©rimentale (Indique la version du syst√®me utilis√©) [Unit√©: Cha√Æne de caract√®res]
'd2m': 2m dewpoint temperature (Temp√©rature du point de ros√©e √† 2 m√®tres) [Unit√©: Kelvin (K)]
't2m': 2m temperature (Temp√©rature de l'air √† 2 m√®tres) [Unit√©: Kelvin (K)]
'skt': Skin temperature (Temp√©rature de la couche de surface/peau du sol) [Unit√©: Kelvin (K)]
'stl1': Soil temperature level 1 (Temp√©rature du sol √† la premi√®re couche - Surface) [Profondeur: ~0-7 cm] [Unit√©: Kelvin (K)]
'stl2': Soil temperature level 2 (Temp√©rature du sol √† la deuxi√®me couche) [Profondeur: ~7-28 cm] [Unit√©: Kelvin (K)]
'stl3': Soil temperature level 3 (Temp√©rature du sol √† la troisi√®me couche) [Profondeur: ~28-100 cm] [Unit√©: Kelvin (K)]
'stl4': Soil temperature level 4 (Temp√©rature du sol √† la quatri√®me couche - Profondeur) [Profondeur: ~100-289 cm] [Unit√©: Kelvin (K)]